body {
    font-family: 'Consolas', monospace;
    background-color: #204060;
    color: white;
}

h1 {
    color: white;
}

.form-inline {
    margin-top: 1rem;
    display: flex;
    align-items: center; /* Align items vertically centered */
    gap: 1rem; /* Space between the label and select */
}

.form-select {
    padding-bottom: .25rem; /* Padding below the select element */
    margin-top: 2rem; /* where text sits in comparison to dropdown */
    margin-bottom: 1rem;
    flex: 1;
}

.form-control {
    width: 100%;
}

.textarea-container {
    max-width: 500px; /* Set a maximum width for the textarea container */
    margin: 0 auto; /* Center the container horizontally */
    padding-bottom: 2rem;
}

.imgUpload {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#drop-area {
    width: 500px;
    height: 300px;
    padding: 30px;
    background: #1f3041;
    text-align: center;
    border-radius: 20px;
}

/* Cards */

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.card {
    background-color: #1f3041; /* Slightly lighter background for the card */
    padding: 20px;
    justify-content: center;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    color: white;
}

#img-view {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

#img-view img {
    width: 30%;
    height: auto;
}

.btn.btn-primary.btn-lg {
    margin-bottom: 1rem;
}
