<!DOCTYPE html>
  <html lang="en">
    <head>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
      <title>AstroLogger</title>
    </head>
  <style>
      body {
            font-family: 'Consolas', monospace;
            background-color : #204060;
            color: white;
        }
      h1 {
        color: white;
      }
      .form-inline {
            margin-top: 1rem;
            display: flex;
            align-items: center; /* Align items vertically centered */
            gap: 1rem; /* Space between the label and select */
      }
      .form-select {
          padding-bottom: .25rem; /* Padding below the select element */
          margin-top: 2rem; /* where text sits in comparison to dropdown */
          margin-bottom: 1rem;
          flex: 1;
      }
      .form-control {
        width: 100%;
      }
      .textarea-container {
            max-width: 500px; /* Set a maximum width for the textarea container */
            margin: 0 auto; /* Center the container horizontally */
        }

      .imgUpload{
        width: 100%;
        min-height: 50vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      #drop-area{
        width: 500px;
        height: 300px;
        padding: 30px;
        background: #1f3041;
        text-align: center;
        border-radius: 20px;
      }
      #img-view{
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
      }
      #img-view img {
        width: 30%;
        height: auto;
      }

      
  </style>
  
  <body>
    <div class="container text-center">
      <h1>AstroLogger</h1>
      <div class="row">
        <div class="container">
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-primary btn-lg active"  >Make a Submission</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-primary btn-lg disabled">View past logs   </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="form-inline mx-auto" style="width: 25%;">
          <label class="form-inline" for="inlineFormObjectName">Observation Program:</label>
            <select class="form-select mx-auto" aria-label="Default select example">
              <option value="empty" selected ></option>
              <option value="1">Constellation Hunter- Northern</option>
              <option value="2">Constellation Hunter- Southern</option>
              <option value="3">Messier Observing Program</option>
              <option value="4">Lunar Observing Program</option>
              <option value="5">Solar System Observing Program</option>
              <option value="6">Gallileo Observing Program</option>
            </select>
        </div>
      </div>
    </div>
    
    <div class="container-fluid">
      <div class="row">
        <div class="form-inline mx-auto" style="width: 25%;">
          <label for="inlineFormObjectName">Object:</label>
          <input type="text" class="mx-auto" id="inlineFormObjectName" placeholder="Arcturus" style="width: 200px;">
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="form-inline">
            <label for="inlineFormLatitude" class="mr-2">Latitude:</label>
            <input type="text" class="mx-auto" id="inlineFormLatitude" placeholder="or zipcode" style="width: 200px;">
          </div>
        </div>
        <div class="col-auto">
          <div class="form-inline">
            <label for="inlineFormLongitude" class="mr-2">Longitude:</label>
            <input type="text" class="mx-auto" id="inlineFormLongitude" placeholder="or zipcode" style="width: 200px;">
          </div>
        </div>
      </div>
    </div>


    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="form-inline">
            <label for="inlineFormDate" class="mr-2">Date:</label>
            <input type="text" class="mx-auto" id="inlineFormDate" placeholder="00/00/00" style="width: 200px;">
          </div>
        </div>
        <div class="col-auto">
          <div class="form-inline">
            <label for="inlineFormTime" class="mr-2">Time:</label>
            <input type="text" class="mx-auto" id="inlineFormTime" placeholder="00:00:00" style="width: 200px;">
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="form-inline">
            <label for="inlineFormSeeing" class="mr-2">Seeing:</label>
            <input type="text" class="mx-auto" id="inlineFromSeeing" placeholder="16mm 2.5x" style="width: 200px;">
          </div>
        </div>
        <div class="col-auto">
          <div class="form-inline">
            <label for="inlineFormTransparency" class="mr-2">Transparency:</label>
            <input type="text" class="mx-auto" id="inlineFormTransparency" placeholder="4" style="width: 200px;">
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="form-inline">
            <label for="inlineFormSize" class="mr-2">Size of instrument:</label>
            <input type="text" class="mx-auto" id="inlineFromSize" placeholder="5.5 inch" style="width: 200px;">
          </div>
        </div>
        <div class="col-auto">
          <div class="form-inline">
            <label for="inlineFormFilters" class="mr-2">Filters used:</label>
            <input type="text" class="mx-auto" id="inlineFormFilters" placeholder="4" style="width: 200px;">
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="row justify-content-center">
          <div class="col">
              <div class="form-group textarea-container">
                  <label for="exampleTextarea">Object description:</label>
                  <textarea class="form-control" id="exampleTextarea" rows="6" placeholder="Tonight the object appeared..."></textarea>
              </div>
          </div>
      </div>
  </div>

  <div class="container text-center">
    <h2>Visual Observations</h2>
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="form-inline">
          <label for="inlineFormSeeing" class="mr-2">Seeing:</label>
          <input type="text" class="mx-auto" id="inlineFromSeeing" placeholder="" style="width: 200px;">
        </div>
      </div>
      <div class="col-auto">
        <div class="form-inline">
          <label for="inlineFormTransparency" class="mr-2">Transparency:</label>
          <input type="text" class="mx-auto" id="inlineFormTransparency" placeholder="" style="width: 200px;">
        </div>
      </div>
      <div class="col-auto">
        <div class="form-inline">
          <label for="inlineFormPower" class="mr-2">Power/Maagnification:</label>
          <input type="text" class="mx-auto" id="inlineFormPower" placeholder="" style="width: 200px;">
        </div>
      </div>
    </div>
  </div>

  <h6> Placeholder: Drag and drop image will go here</h6>

  <div class="container text-center">
    <h4>Imaging Observations</h4>
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="form-inline">
          <label for="inlineFormCamera" class="mr-2">Camera used:</label>
          <input type="text" class="mx-auto" id="inlineFromCamera" placeholder="" style="width: 200px;">
        </div>
      </div>
      <div class="col-auto">
        <div class="form-inline">
          <label for="inlineFormDetails" class="mr-2">Image Details:</label>
          <input type="text" class="mx-auto" id="inlineFormDetails" placeholder="" style="width: 200px;">
        </div>
      </div>
    </div>
  </div>

  <div class="imgUpload">
    <label for="input-file" id="drop-area">
      <input type="file" accept="image/*" id="input-file" hidden>
        <div id="img-view">
          <img src="upload.png">
          <p>Drag and drop or click here<br> to upload an image.</p>
          <span>Upload any images from desktop</span>
        </div>
    </label>
  </div>

  <h5> Placeholder: Drag and drop image will go here</h5>

  <button type="button" class="btn btn-primary btn-lg">Submit</button>
  

    <script type="text/javascript">

      const dropArea = document.getElementById("drop-area");
      const inputFile = document.getElementById("input-file");
      const imageView = document.getElementById("img-view");

      inputFile.addEventListener("change", uploadImage);

      function uploadImage(){
        inputFile.files[0];
        let imgLink = URL.createObjectURL(inputFile.files[0]);
        imageView.style.backgroundImage = `url(${imgLink})`;
        imageView.textContent = "";
        imageView.style.border = 0;
      }

      dropArea.addEventListener("dragover", function(e){
        e.preventDefault();
      });
      dropArea.addEventListener("drop", function(e){
        e.preventDefault();
        inputFile.files = e.dataTransfer.files;
        uploadImage();
      });


        function fetchCoordinates(zipCode) {
          $.ajax({
            url : '/ziptocoords',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({ zip_code: zipCode }),
            success: function(data) {
              $('#inlineFormLatitude').val(data.latitude);
              $('#inlineFormLongitude').val(data.longitude);
            },
            error: function() {
              alert('ZIP code not found or invalid.');
              $('#inlineFormLatitude').val('');
              $('#inlineFormLongitude').val('');
            }
          });
        }
        $(document).ready(function() {
        $('#inlineFormLatitude, #inlineFormLongitude').on('input', function() {
                  console.log("input recieved");
                  const input = $(this).val();

                  if (input.length === 5 && $.isNumeric(input)) { // Check if input is a 5-digit ZIP code
                      fetchCoordinates(input);
                  }
              });
      });
    
    
    </script>
  </body>
</html>