{% extends "base.html" %} 

{% block content %} 



    <div class="container-fluid">
      <div class="row">
        <div class="form-inline mx-auto" style="width: 50%;">
          <label class="form-inline" for="inlineFormObjectName">Observation Program:</label>
            <select class="form-select mx-auto" aria-label="Default select example">
              <option value="empty" selected ></option>
              <option value="1">Constellation Hunter- Northern</option>
              <option value="2">Constellation Hunter- Southern</option>
              <option value="3">Messier Observing Program</option>
              <option value="4">Lunar Observing Program</option>
              <option value="5">Solar System Observing Program</option>
              <option value="6">Gallileo Observing Program</option>
            </select>
        </div>
      </div>
    </div>
    
    <div class="container-fluid">
      <div class="row">
        <div class="form-inline mx-auto" style="width: 25%;">
          <label for="inlineFormObjectName">Object:</label>
          <input type="text" class="mx-auto" id="inlineFormObjectName" placeholder="Arcturus" style="width: 200px;">
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="form-inline">
            <label for="inlineFormLatitude" class="mr-2">Latitude:</label>
            <input type="text" class="mx-auto" id="inlineFormLatitude" placeholder="or zipcode" style="width: 200px;">
          </div>
        </div>
        <div class="col-auto">
          <div class="form-inline">
            <label for="inlineFormLongitude" class="mr-2">Longitude:</label>
            <input type="text" class="mx-auto" id="inlineFormLongitude" placeholder="or zipcode" style="width: 200px;">
          </div>
        </div>
      </div>
    </div>


    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="form-inline">
            <label for="inlineFormDate" class="mr-2">Date:</label>
            <input type="text" class="mx-auto" id="inlineFormDate" placeholder="00/00/00" style="width: 200px;">
          </div>
        </div>
        <div class="col-auto">
          <div class="form-inline">
            <label for="inlineFormTime" class="mr-2">Time:</label>
            <input type="text" class="mx-auto" id="inlineFormTime" placeholder="00:00:00" style="width: 200px;">
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="form-inline">
            <label for="inlineFormSeeing" class="mr-2">Seeing:</label>
            <input type="text" class="mx-auto" id="inlineFromSeeing" placeholder="16mm 2.5x" style="width: 200px;">
          </div>
        </div>
        <div class="col-auto">
          <div class="form-inline">
            <label for="inlineFormTransparency" class="mr-2">Transparency:</label>
            <input type="text" class="mx-auto" id="inlineFormTransparency" placeholder="4" style="width: 200px;">
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="row justify-content-center">
        <div class="col-auto">
          <div class="form-inline">
            <label for="inlineFormSize" class="mr-2">Size of instrument:</label>
            <input type="text" class="mx-auto" id="inlineFromSize" placeholder="5.5 inch" style="width: 200px;">
          </div>
        </div>
        <div class="col-auto">
          <div class="form-inline">
            <label for="inlineFormFilters" class="mr-2">Filters used:</label>
            <input type="text" class="mx-auto" id="inlineFormFilters" placeholder="4" style="width: 200px;">
          </div>
        </div>
      </div>
    </div>

    <div class="container mt-4">
      <div class="row justify-content-center">
          <div class="col">
              <div class="form-group textarea-container">
                  <label for="exampleTextarea">Object description:</label>
                  <textarea class="form-control" id="exampleTextarea" rows="6" placeholder="Tonight the object appeared..."></textarea>
              </div>
          </div>
      </div>
  </div>

  <div class="container text-center">
    <h4>Visual Observations</h4>
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="form-inline">
          <label for="inlineFormSeeing" class="mr-2">Seeing:</label>
          <input type="text" class="mx-auto" id="inlineFromSeeing" placeholder="" style="width: 200px;">
        </div>
      </div>
      <div class="col-auto">
        <div class="form-inline">
          <label for="inlineFormTransparency" class="mr-2">Transparency:</label>
          <input type="text" class="mx-auto" id="inlineFormTransparency" placeholder="" style="width: 200px;">
        </div>
      </div>
      <div class="col-auto">
        <div class="form-inline">
          <label for="inlineFormPower" class="mr-2">Power/Magnification:</label>
          <input type="text" class="mx-auto" id="inlineFormPower" placeholder="" style="width: 200px;">
        </div>
      </div>
    </div>
  </div>

  <div class="imgUpload">
    <label for="input-file" id="drop-area">
      <input type="file" accept="image/*" id="input-file" hidden>
        <div id="img-view">
          <img src="{{ url_for('static', filename='images/upload.png') }}" alt="Upload">
          <p>Drag and drop or click here<br> to upload an image.</p>
          <span>Upload any images from desktop</span>
        </div>
    </label>
  </div>

  <div class="container text-center">
    <h4>Imaging Observations</h4>
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="form-inline">
          <label for="inlineFormCamera" class="mr-2">Camera used:</label>
          <input type="text" class="mx-auto" id="inlineFromCamera" placeholder="" style="width: 200px;">
        </div>
      </div>
      <div class="col-auto">
        <div class="form-inline">
          <label for="inlineFormDetails" class="mr-2">Image Details:</label>
          <input type="text" class="mx-auto" id="inlineFormDetails" placeholder="" style="width: 200px;">
        </div>
      </div>
    </div>
  </div>

  <div class="imgUpload">
    <label for="input-file" id="drop-area">
      <input type="file" accept="image/*" id="input-file" hidden>
        <div id="img-view">
          <img src="{{ url_for('static', filename='images/upload.png') }}" alt="Upload">
          <p>Drag and drop or click here<br> to upload an image.</p>
          <span>Upload any images from desktop</span>
        </div>
    </label>
  </div>

  <div class="container">
    <div class="row justify-content-center align-self-center">
      <div class="col-auto">
        <button type="button" class="btn btn-primary btn-lg">Submit</button>       
      </div>
    </div>
  </div>

  {% endblock %}
  </body>
</html>