{% extends "base.html" %}

{% block content %} 
    <div class="card-wrapper">
        <div class="card"> 
            <h1 class="center">Create an Account</h1>
            <form name="signup_form">
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="field" required>                       
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="field" required>                     
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <label for="password">Password</label>
                        <input type="password" name="password" class="field" required>                    
                    </div>
                </div>

                <p class="error error--hidden"></p>

                <input type="submit" value="Sign up" class="btn">
            </form>
        </div>
    </div>

{% endblock %}