{% extends "base.html" %} 

{% block content %} 

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="card-wrapper">
                    <div class="card h-100"> 
                        <h2 class="text-center">Dashboard</h2>
                        <p class="text-center">You are currently logged in</p>

                        <div class="text-center">
                            <a href="/user/signout" class="btn btn-primary btn-sm">Sign Out</a>
                        </div>
                    </div>
                    <div class="card h-100">
                        <h2 class="text-center">Your Info</h2>
                        <div>
                            <strong>ID:</strong> {{ session['user']['_id'] }}
                        </div>
                        <div>
                            <strong>Name:</strong> {{ session['user']['name'] }}
                        </div>
                        <div>
                            <strong>Email:</strong> {{ session['user']['email'] }}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="card-wrapper">
                    <div class="card h-100">
                        <h2 class="text-center">Your Logs</h2>
                        {% if data %} 
                            <ul style="list-style-type: disc;">
                                {% for item in data %} 
                                        {% if item.user_id == session['user']['_id'] %}
                                                <li><strong>Object Name:</strong> {{ item.objectName }}<br></li>
                                                <li><strong>Latitude:</strong> {{ item.latitude }}<br></li>
                                                <li><strong>Longitude:</strong> {{ item.longitude }}<br></li>
                                                <li><strong>Date:</strong> {{ item.date }}<br></li>
                                                <li><strong>Time:</strong> {{ item.time }}<br></li>
                                                <li><strong>Description:</strong> {{ item.description }}<br></li>
                                                <li><strong>Filters:</strong> {{ item.filters }}<br></li>
                                                
                                                <!-- Display image if available -->
                                                {% if item.visual_image_file_id %}
                                                    <img src="/image/{{ item.visual_image_file_id }}" alt="Uploaded Image" width="200">
                                                {% endif %}
                                                {% if item.imaging_image_file_id %}
                                                <img src="/image/{{ item.imaging_image_file_id }}" alt="Uploaded Image" width="200">
                                            {% endif %}
                                            <hr>
                                        {% endif %}
                                {% endfor %} 
                            </ul>
                        {% else %} 
                            <p> Data not found</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

<!--
{{ session['logged_in']}}
{{ session['user'] }} 
-->
{% endblock %}